<h1>Listing entries</h1>

<table>
  <thead>
    <tr>
      <th>Hours</th>
      <th>Date</th>
      <th>Category</th>
      <th>Comment</th>
      <th>Task Name</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.hours %></td>
        <td><%= entry.date.strftime("%d/%m/%Y %H:%M:%S") if entry.date %></td>
        <td><%= entry.category %></td>
        <td><%= entry.comment %></td>
        <td><%= entry.task.name if entry.task %></td>

        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
