<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @entry.hours %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @entry.comment %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
